@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply box-border text-white bg-black;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-blueColor rounded-xl;
}

.task > ::-webkit-scrollbar-thumb {
  @apply bg-sky-500 rounded-xl;
}

.css-kmnzss {
  margin-bottom: 0px;
}
.MuiBox-root {
  margin-bottom: 8px;
}
